In [6]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [4]:
df=pd.read_csv('Crop Production data (1).csv')

In [5]:
df.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [24]:
Train=df[df['Production'].notnull()]
Test=df[df['Production'].isnull()]

In [25]:
Train

,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
...,...,...,...,...,...,...,...
246086,West Bengal,PURULIA,2014,Summer,Rice,306.0,801.0
246087,West Bengal,PURULIA,2014,Summer,Sesamum,627.0,463.0
246088,West Bengal,PURULIA,2014,Whole Year,Sugarcane,324.0,16250.0
246089,West Bengal,PURULIA,2014,Winter,Rice,279151.0,597899.0
246090,West Bengal,PURULIA,2014,Winter,Sesamum,175.0,88.0

In [ ]:
from catboost import CatBoostRegressor, Pool

# Sample data with categorical features
X = [
    ['Karnataka', 'Bangalore', 2015, 'Kharif', 'Rice', 100.0],
    ['Karnataka', 'Mysore', 2016, 'Rabi', 'Wheat', 150.0],
    ['Tamil Nadu', 'Chennai', 2017, 'Kharif', 'Rice', 200.0],
    ['Tamil Nadu', 'Madurai', 2018, 'Rabi', 'Maize', 250.0]
]
labels = [500, 600, 700, 800]

# Indicating the categorical feature indices
categorical_features_indices = [0, 1, 3, 4]

# Creating a Pool object to handle data with categorical features
train_data = Pool(data=data, label=labels, cat_features=categorical_features_indices)

# Initializing and training the CatBoost regressor
model = CatBoostRegressor(cat_features=categorical_features_indices, verbose=0)
model.fit(train_data)

# Making predictions
predictions = model.predict(data)
print(predictions)

In [30]:
X_train,y_train=Train.drop(['Production'],axis=1),Train[['Production']]

In [31]:
X_test,y_test=Test.drop(['Production'],axis=1),Test[['Production']]

In [32]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242361, 6), (3730, 6), (242361, 1), (3730, 1))

In [9]:
Train=df.drop(['Production'],axis=1)
Test=df[['Production']]

In [33]:
Dt=DecisionTreeRegressor()

In [34]:
Dt.fit(X_train,y_train)

ValueError: could not convert string to float: 'Andaman and Nicobar Islands'